.carousel-container {
  width: 100%;
  max-width: 1750px;
  /* height is removed */
}

.carousel-slider {
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down; /* Ensure the image covers the container */
}

@media (max-width: 768px) {
  .carousel-container {
    height: 300px; /* Adjust height for smaller screens */
  }

  .carousel-image {
    object-fit: contain; /* Adjust fit for smaller screens */
  }
}
