.Cart {
  padding: 20px;
  min-height: calc(100vh - 100px); /* Set minimum height to fill viewport - header and footer height */
}

.Cart table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; 
}

.Cart th, .Cart td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.Cart img {
  width: 50px;
}

.Cart tfoot {
  font-weight: bold;
}

.Cart button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position:absolute;
  right: 20px;
}

.Cart button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.check {
  background-color: white;
  color:#004879;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.check:hover {
  color:white;
  background-color: #004879;
}

@media (max-width: 768px) {
  .Cart img {
    width: 100%;
  }
}
