.CheckoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
  }
  
.Checkout {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.Checkout h2 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.Checkout hr {
  border: none;
  height: 2px;
  color: #c21616;
  margin: 20px 0;
}

.Checkout form {
  width: 80%;
}

.Checkout label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.Checkout input[type="text"],
.Checkout input[type="email"],
.Checkout input[type="checkbox"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ErrorMessage {
  color:red;
}

.Checkout .ContinueButton {
  background-color: #fff;
  color:black;  
  border: none;
  padding: 0.5rem;
  margin-top: 2rem;
  border: 1px solid #000;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}

.Checkout .ContinueButton:hover {
  color: white;
  background-color: #000; 
}  

/* Responsive design */
@media (max-width: 768px) {
  .CheckoutContainer {
    height: auto;
    margin-top: 1rem;
  }
  
  .Checkout {
    margin-top: 0;
  }

  .Checkout form {
    width: 100%;
  }
}