.OrderHistory {
  margin: 20px;
  min-height: calc(100vh - 100px);
  display: flex; /* Added */
  justify-content: center; /* Added */
  flex-direction: column; /* Added */
  align-items: center; /* Added */
}

.OrderHistory h2 {
  font-size: 35px;
}

.OrderHistory p {
  font-size: 20px;
}

.OrderItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.OrderDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OrderItem {
  list-style: none; /* Added to remove the dot */
  padding: 0;
  margin: 0;
}

.OrderItem li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.OrderItem li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.OrderTotal {
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
  .OrderHistory {
    min-height: calc(100vh - 200px); /* Adjust height for smaller screens */
  }
}

.order-container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-bottom: 16px;
}

.order-details {
  justify-content: space-between;
  margin-bottom: 16px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.order-number {
  color: #2f9de6;
}

.order-underline {
color:#000;
}

.order-status {
  text-align: left;
  color: green;
}

.text-sm {
  color: black;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.order-button {
  background-color: #ffffff;
  color: #000;
  border:1px solid #000;
}

.order-button:hover {
  background-color: #000;
  color: #ffffff;
}

.product-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 16px;
}

.product-details {
  flex: 1;
}

.product-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.product-description {
  color: #666666;
  margin-bottom: 8px;
  font-size: 18px;
}

.product-actions {
  display: flex;
  gap: 8px;
}

.bg-yellow-300 {
  background-color: yellow;
  color: black;
}

.bg-yellow-300:hover {
  background-color: rgb(251, 251, 55);
}

.text-blue-600 {
  color: #000;
  background-color: #ffffff;
  border: 1px solid #666666;
}

.text-blue-600:hover {
  color: #ffffff;
  background-color: #000;
}