span{
    font-size: 1.2em;
    cursor: pointer;
}

#SlideMenu > ul,
#SlideMenu li {
    list-style-type: none;
    padding: 0;
}

.SlideMenu{
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    overflow: hidden;
    padding-top: 0;
    transition: width .5s ease-in-out;
}

.user-info {
    background-color: #232f3e;
    margin:0;
    top:0;
    height: 65px;
    display: flex; /* Enable flexbox for the user-info div */
    align-items: center; /* Align items vertically */
}

.user-info img {
    height:35px;
    width:35px;
    margin-top: 0;
    margin-left: 45px;
}

.user-title {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.SlideMenu a{
    text-decoration: none;
    font-size: 1em;
    color: black;
    display: block;
    padding: 15px 0;
    text-align: left;
    margin-left:50px;
}

.SlideMenu a:hover{
    color: #232f3e;
}

.SlideMenu h2 {
    margin-left:45px;
}

.SlideMenu br {
    background-color: #232f3e;
}

.hamButton{
    position: absolute;
    top: 25px;
    left: 0;
    margin-left: 30px;
}

.closeButton{
    position: absolute;
    top: 75px;
    left: 160px;
    margin-left: 150px;
    height: 25px;
    width: 25px;
}