.SearchedProductDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Cover the entire viewport */
  padding-bottom: 20px; /* Add some padding at the bottom */
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  width: 100%;
  margin-top: auto; /* Adjusted to push content down */
}

.searchItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: white;
  border-radius: 18px;
}

.searchItem img {
    max-width: 70%;
    height: 250px;
    margin-bottom: 10px; /* Add some spacing below the image */
  }
  
  .searchItem h2 {
    margin: 10px 0;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .searchItem h2:hover {
    overflow: visible;
    text-overflow: clip;
  }
  
  .searchItem p {
    font-weight: bold;
    margin: 5px 0;
  }
  
  .searchItem button {
    color: #232f3e;
    background-color: #DEEFF5;
    border: 1px solid #232f3e; 
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 15px;
  }

  .searchItem button:hover {
    color: #fff;
    background-color: #232f3e;
  }
  
  .searchItem .productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  }

/* Position price and button */
.searchItem .price {
  align-self: flex-start; /* Position at top left */
  margin-left: 45px; /* Add some margin */
}

.searchItem .addToCart {
  align-self: flex-end; /* Position at bottom right */
  margin-right: 45px; /* Add some margin */
}

  /* Responsive styles */
  @media (max-width: 768px) {
    .SearchedProductDisplay {
      padding: 10px;
    }
  
    .searchItem {
      max-width: calc(50% - 20px);
    }
  }