.Men {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
  }
  
  .ProductItem {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    flex: 1; 
    min-width: 200px; 
  }
  
  .ProductItem img {
    max-height: 200px;
    height: auto;
  }
  
  .ProductItem h2,
  .ProductItem p {
    margin: 10px 0;
  }
  
  .AddToCartButton {
    width: 35px; 
    height: 35px;
    cursor: pointer; 
  }
  
  .AddToCartButton:hover {
    opacity: 0.8; /* Reduce opacity slightly on hover to indicate interactivity */
  }
  
    /* Responsive styles */
    @media (max-width: 768px) {
      .Men {
        padding: 10px;
      }
    }
    