.footer {
  background-color: #232f3e;
  color: white;
  padding: 20px 0;
  text-align: left;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

.footer p {
  margin: 0;
  margin-left: 25px;
  font-size: 1.24rem;
}

/* Media Queries for Responsiveness (optional) */
@media (max-width: 768px) {
  .footer {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .footer p {
    text-align: center;
    margin-left: 0; /* Remove left margin on smaller screens */
  }
}